name                = "vnet-sample-eastus-001"
location            = "eastus"
resource_group_name = "rg-sample-eastus-001"
address_space       = ["10.10.0.0/16"]
dns_servers         = []

tags = {
  Environment = "Development"
  ManagedBy   = "Terraform"
}
