lock_name      = "lock-appgw-prod"
app_gateway_id = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-sample-eastus-001/providers/Microsoft.Network/applicationGateways/agw-sample-eastus-001"
force_reapply  = false
